@media screen and (max-width: 1330px) {
  #discover {
    .discover-text {
      h1 {
        font-size: 39px;
      }

      h4 {
        font-size: 16px;
      }
    }
  }
  #prepare {
    // width: 93%;
    .prepare-content .prepare-img img {
      transition: all 0.3s ease-in-out;
      width: 390px;
      height: 280px;
      // display: none;
    }
  }

  #tax .card {
    h2 {
      width: 95%;
      font-size: 22px;
    }
  }

  #banner .banner-content .banner-text {
    h1 {
      font-size: 37px;
    }

    p {
      font-size: 18px;
    }
    width: 95%;
  }

  .steps {
    width: 230px;
    transition: all 0.2s ease-in-out;

    .step-1-banner,
    .step-2-banner {
      transition: all 0.2s ease-in-out;
      padding: 1rem 1rem;
    }
  }

  #step-1 {
    margin: 3rem 0rem 0rem 20rem;
    transition: all 0.3s ease-in-out;
    width: 80%;

    .step-1-header-text {
      h1 {
        width: 70%;
      }
    }
  }
  #step-2 {
    margin: 3rem 0rem 0rem 20rem;
    transition: all 0.3s ease-in-out;
    width: 80%;

    .step-2-header-text {
      h1 {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #prepare {
    .prepare-text {
      h1 {
        font-size: 36px;
      }
    }
  }

  #discover {
    .discover-content {
      .discover-img img {
        width: 90%;
        height: 80%;
      }
    }
  }

  #tax {
    width: 93%;
    .card {
      h2 {
        width: 115%;
        font-size: 22px;
      }

      h4 {
        width: 110%;
        // font-size: 14px;
      }
    }
  }

  #banner {
    margin-left: 3.5rem;
  }

  #footer {
    .btn-light {
      padding: 17px 35px;
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    width: 100vw;
  }
  #discover {
    .discover-content {
      .discover-text {
        h1 {
          width: 95%;
          font-size: 37px;
        }
        .discover-links {
          .learn-more {
            margin-left: 1rem;
          }
        }
      }

      .discover-img img {
        width: 90%;
        height: 60%;
      }
    }
  }

  #prepare {
    .prepare-content {
      .prepare-text {
        width: 100%;
      }

      .prepare-img img {
        width: 290px;
        height: 180px;
      }
    }
  }

  #tax {
    .card {
      h2 {
        font-size: 20px;
      }
    }
  }

  #banner {
    .banner-content {
      .banner-text {
        h1 {
          font-size: 33px;
        }
      }
      .banner-link {
        font-size: 80%;
      }
    }
  }

  #footer {
    .btn-light {
      padding: 17px 35px;
      font-size: 85%;
    }
  }

  .steps {
    width: 200px;
  }

  #step-1 {
    margin: 2rem 0rem 0rem 15rem;
    // transition: all 0.3s ease-in-out;
    // width: 80%;

    .step-1-header-text {
      h1 {
        // transition: all 0.3s ease-in-out;
        width: 80%;
      }

      h4 {
        width: 70%;
      }
    }
  }
  #step-2 {
    margin: 2rem 0rem 0rem 15rem;
    // transition: all 0.3s ease-in-out;
    // width: 80%;

    .step-2-header-text {
      h1 {
        // transition: all 0.3s ease-in-out;
        width: 80%;
      }

      h4 {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  #discover {
    .discover-content {
      grid-template-columns: 100%;
      .discover-img img {
        display: none;
      }
      .discover-text {
        .discover-links {
          .btn-dark {
            font-size: 100%;
            padding: 14px;
          }
        }
      }
    }
  }

  #prepare {
    .prepare-content {
      grid-template-columns: 100%;

      .prepare-text {
        margin-left: 0rem;
        margin-top: 0;
        width: 100%;
      }
      .prepare-img img {
        display: none;
      }

      .prepare-text {
        h1 {
          font-size: 30px;
        }
      }
    }
  }

  #tax {
    .card-container {
      grid-template-columns: repeat(2, 1fr);
      transition: all 0.3s ease-in-out;

      .card:nth-child(3) {
        margin-top: 3rem;
        // margin-left: 12rem;
      }

      .card {
        h2 {
          width: 100%;
          font-size: 21px;
        }

        h4 {
          width: 92%;
        }
      }
    }
  }

  #banner {
    .banner-content {
      grid-template-columns: 100%;
      grid-gap: 2rem;

      .banner-text {
        text-align: center;
      }

      .banner-link {
        justify-content: center;
        font-size: 90%;
      }
    }
  }

  #footer {
    .footer-content {
      grid-template-columns: 40% 40% 20%;
    }
    .btn-light {
      padding: 15px 30px;
      font-size: 85%;
    }

    .about-us {
      width: 85%;
      // text-align: justify;
      margin-left: 3rem;
    }

    .socials {
      margin-left: 5rem;
    }
  }

  .steps {
    width: 65px;
    .step-1-banner .one-icon-text h3,
    .step-2-banner .two-icon-text h3,
    .step-1-banner .one-icon-text h5,
    .step-2-banner .two-icon-text h5 {
      display: none;
      transition: all 0.3s ease-in-out;
    }
  }

  #step-1 {
    margin: 2rem 0rem 0rem 7rem;
    // transition: all 0.3s ease-in-out;
    // width: 80%;

    .step-1-header-text {
      h1 {
        // transition: all 0.3s ease-in-out;
        width: 100%;
      }

      h4 {
        width: 90%;
      }
    }

    .step-1-input-content form {
      grid-template-columns: 100%;
      grid-gap: 1.5rem;
      transition: all 0.3s ease-in-out;
      // max-width: 10%;
    }
  }
  #step-2 {
    margin: 2rem 0rem 0rem 7rem;
    // transition: all 0.3s ease-in-out;
    // width: 80%;

    .step-2-header-text {
      h1 {
        // transition: all 0.3s ease-in-out;
        width: 100%;
      }

      h4 {
        width: 90%;
      }
    }

    .step-2-input-content form {
      grid-template-columns: 100%;
      grid-gap: 1.5rem;
      transition: all 0.3s ease-in-out;
      // max-width: 10%;
    }
  }
}

@media screen and (max-width: 720px) {
  #footer {
    .footer-content {
      grid-template-columns: 100%;
      grid-gap: 2rem;

      .about-us {
        margin: 0;
        margin-top: 2rem;

        h5 {
          margin: 0;
        }
      }

      .socials {
        margin: 0;
        margin-top: 2rem;

        a:nth-child(1) {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 690px) {
  header {
    .logo {
      flex: 3;
    }

    .home-btn {
      flex: 1;
    }
  }

  #prepare {
    .prepare-content {
      .prepare-text {
        p {
          font-size: 16px;
        }

        .btn-dark {
          font-size: 100%;
          padding: 14px;
        }
      }
    }
  }

  #tax {
    .card-container {
      grid-template-columns: 100%;

      .card {
        width: 100%;
      }

      .card:nth-child(3),
      .card:nth-child(2) {
        margin-top: 3rem;
        // margin-left: 12rem;
      }

      .card {
        h2 {
          width: 100%;
          font-size: 21px;
        }

        h4 {
          width: 92%;
        }
      }
    }
  }

  #banner {
    width: 90%;
    margin-left: 1.8rem;
    padding: 2rem 1rem;

    .banner-content {
      .banner-text {
        h1 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  #step-1 {
    margin: 2rem 0rem 0rem 6rem;
    // transition: all 0.3s ease-in-out;
    // width: 80%;

    .step-1-header-text {
      h1 {
        font-size: 20px;
        width: 100%;
      }

      h4 {
        width: 90%;
      }
    }

    .step-1-input-content form {
      grid-template-columns: 100%;
      grid-gap: 1.5rem;
      transition: all 0.3s ease-in-out;
      max-width: 100%;
    }
  }
  #step-2 {
    margin: 2rem 0rem 0rem 6rem;
    // transition: all 0.3s ease-in-out;
    // width: 80%;

    .step-2-header-text {
      h1 {
        font-size: 20px;
        width: 100%;
      }

      h4 {
        width: 90%;
      }
    }

    .step-2-input-content form {
      grid-template-columns: 100%;
      grid-gap: 1.5rem;
      transition: all 0.3s ease-in-out;
      max-width: 100%;

      h4 {
        width: 90%;
      }
    }
  }

  .step-1-input-content input,
  .step-2-input-content input,
  .step-1-input-content select,
  .step-2-input-content select {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  header {
    .logo {
      flex: 2;
    }

    .home-btn {
      flex: 1;
    }
  }
  #discover {
    // margin: 0;
    .discover-content {
      .discover-text {
        .discover-links {
          .learn-more {
            display: none;
          }
        }
        h1 {
          font-size: 23px;
          line-height: 1.4;
        }
      }
    }
  }

  #prepare {
    margin-top: 3rem;

    .prepare-content {
      .prepare-text {
        h1 {
          font-size: 22px;
        }

        p {
          text-align: left;
        }
      }
    }
  }

  #tax {
    h1 {
      margin-left: 1rem;
    }
    .card-container {
      .card {
        width: 90%;
        margin-left: 1rem;

        h4 {
          width: 100%;
        }
      }
    }
  }

  #banner {
    margin-left: 1rem;

    .banner-content {
      .banner-text {
        h1 {
          line-height: 30px;
        }
      }
    }
  }
}
