.active {
  background: rgba(188, 145, 68, 0.1);
  transition: all 0.5s ease-in-out;
}

.steps {
  position: fixed;
  top: 75px;
  left: 0;
  background: transparent;
  /* border-right: 2px solid #000; */
  box-shadow: 0px 0px 7px rgba(32, 32, 48, 0.1);
  width: 310px;
  height: 100%;
  display: block;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.steps .step-1-banner,
.steps .step-2-banner {
  display: flex;
  align-items: center;
  /* margin: auto; */
  width: 100%;
  height: 70px;
  padding: 1rem 3rem;
  position: absolute;
  top: 20%;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.steps .step-2-banner {
  top: 35% !important;
}

.steps .step-1-banner:hover,
.steps .step-2-banner:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

.steps .step-1-banner .one-icon,
.steps .step-2-banner .two-icon {
  margin-right: 1rem;
  color: #fff;
  background: var(--primary-color);
  padding: 0.3rem 0.8rem;
  border-radius: 50%;
}

.steps .step-1-banner .one-icon-text h3,
.steps .step-2-banner .two-icon-text h3 {
  color: #000;
}

.steps .step-1-banner .one-icon-text h5,
.steps .step-2-banner .two-icon-text h5 {
  color: #202030;
  opacity: 0.6;
}
.steps .step-2-banner {
  top: 365px;
}

// .steps .step-2-banner .two-icon {
//   margin-right: 1rem;
//   color: #fff;
//   background: var(--primary-color);
//   padding: 0.3rem 0.8rem;
//   border-radius: 50%;
// }

// .steps .step-2-banner .two-icon-text h3 {
//   color: #000;
// }

// .steps .step-2-banner .two-icon-text h5 {
//   color: #202030;
//   opacity: 0.6;
// }

.step-1-wrap {
  position: absolute;
  top: 80px;
  left: 0px;
  // background: red;
  width: 100%;
  height: 550px;
  // overflow: scroll;
}

#step-1 {
  position: relative;
  height: 100%;
  overflow-y: scroll;

  // top: 120px;
  // left: 490px;
  // margin: auto;
  margin: 4rem 0rem 0rem 28rem;
  width: 80%;
}

#step-1 .step-1-header-text h1 {
  font-size: 27.65px;
  line-height: 36px;
  color: #202030;
  width: 50%;
  margin-bottom: 1.5rem;
}

#step-1 .step-1-header-text h4 {
  font-size: 14px;
  line-height: 18px;
  color: #202030;
  opacity: 0.6;
  width: 60%;
  margin-bottom: 2.5rem;
}

.step-1-input-content form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  max-width: 70%;
  transition: all 0.3s ease-in-out;
}

.step-1-input-content form label,
.step-2-input-content form label {
  color: #202030;
  font-weight: bold;
}

.step-1-input-content input,
.step-2-input-content input,
.step-1-input-content select,
.step-2-input-content select {
  display: block;
  background: rgba(32, 32, 48, 0.2);
  border: 1px solid transparent;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  padding: 1rem;
  margin-top: 1rem;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.step-1-input-content select,
.step-2-input-content select {
  padding: 0rem 1rem;
  width: 100%;
  height: 40px;
}

.step-1-input-content input:hover,
.step-1-input-content input:focus,
.step-2-input-content input:hover,
.step-2-input-content input:focus {
  border: 1px solid var(--primary-color);
}

#step-1 .form-link,
#step-2 .form-link {
  // display: flex;
  // justify-content: flex-end;
  align-items: center;
  /* position: relative; */
  // max-width: 145px;
  // height: 59px;
  // margin-left: 33rem;
  margin: 2rem 0;
}

// #step-1 a,
// #step-2 a {
//   // display: flex;
//   // justify-content: center;
//   // width: 10%;
// }
